/*Global Start*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size:10px;
    font-family: 'Roboto', sans-serif;
    color: #eee
}

body {
    widows: 100%;
    height: 100%;
    background-color: black;
    transition: all 0.5s ease;
}

section{
    padding: 6rem 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    

}
p {
    font-size:1.8rem;
    font-weight:300;
}

img{
    width:80%;
}



.bg-active {
    background: white;
    color: black; }


/*Global End*/

/*Reusable*/
.container{
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    position: relative;

}

.section-heading{
    text-align: center;
    margin-top: 5rem;
}

.section-heading h1{
    font-size: 3.5rem;
    color: rgba(255,255,255, .3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
    
}

.section-heading h1::before,
.section-heading h1::after{
    content:'';
    position: absolute;
    bottom: -.5rem;
    left:50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255, 0.75);
}

.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;

}

.section-heading h1::after{
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    bottom: -.9rem;
    
}


.section-heading h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 5rem;
    
}

.has-margin-right{
    margin-right: 5rem;
}

.red{
    color: #8B0000;
    
}

.red:hover{
    color: black;
}


/*Reusable*/

/*Header Start*/
header {
    width: 100%;
    height:100vh;
    background-image: url(/styles/img/austin-chan-ukzHlkoz1IE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header img {
    opacity: 1;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:4vh;
    font-family: 'Montserrat', sans-serif;
    position: sticky;
    bottom: 0;
    
}

.logo {
    text-transform: uppercase;
    font-size: 20;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.logo a {
    color:black;
}

.nav-link{
    display: flex;
    width: 30%;
    justify-content:space-around;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    
}

.nav-link li{ 
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    color: black;
}

.nav-link a:hover{
    color: #8b0000;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

#nav2 a{
    color: white;
    position: static;
}

.burger{
    display: none;
}

.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

li {
    margin: 0 2rem;
}



.landing-text {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%;);
    width: 100%;
    text-align:left;
    margin-left: 10px;
    margin-bottom: 25rem;
    z-index: 1;
}

.landing-text h1{
    font-size: 10rem;
    font-family: 'Montserrat', sans-serif;
   
    margin-left: 10px;
    user-select: none;
    padding: 5px;
  
}

.social-media-landing{
    font-size: 2rem;
    padding-top: 1.5rem;
    position: absolute;
    
   
}

.social-media-landing i {
    color: white;
}


.last-name {
 color: rgb(220, 20, 60);
}
.landing-text h6{
    font-size: 5rem;
    font-weight: 300;
    margin-left: 15px;
    
}

.typing{
    margin-left: 23px;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color:#8B0000
}

/*Header End*/

/*About Start*/

.about .container{
    display: flex;
    align-items: center;
    justify-content: center;  
    
  
}

.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}
.about-heading h1{
    font-family: 'Montserrat', sans-serif;
    font-size:10rem;
    opacity:.3;
}

.about-heading h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

.profile-img {
    margin-left: 5rem;
}

.about-details {
    flex:2;
}

.social-media{
    margin-top: 6rem;
   
}

.about p{
    text-align: initial;
    font-family: 'Montserrat', sans-serif;
}


.social-media i{
    font-size: 5rem;
    margin: 0 1rem;
    color: rgb(139, 139, 139);
}


.fa-github-square:hover {
    color: #333;
}

.fa-linkedin-in:hover {
    color: #0077B5;
}

.fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

.fa-behance:hover {
    color: #1769ff;
}
/*About End*/

/*Services*/

.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;

}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

  

}

.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
    font-family: 'Montserrat', sans-serif;
}

.icon-container{
    width: 10rem;
    height: 10rem;
    background-color:  black;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
    transition: .5s ease;

}

.icon-container i{
    color: white;
    font-size: 5rem;
    margin: 50%;
    transform: rotate(-45deg);
 
}

.icon-container:hover{
    color: #8B0000;
    background-color: white;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
    border-color: #8B0000;
}

.icon-container i:hover{
    color:#8b0000;
    transform: rotate(45deg);
}

/*Services*/

/*Portfolio*/
.portfolio-item{
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.portfolio-item:last-child{
    margin-bottom: 0;
}

.portfolio-img{
    width: 50rem;
    flex: 1;
}

.portfolio-description{
    font-family: 'Montserrat', sans-serif;
    flex: 2;

}

.portfolio-description h6{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    opacity: .3;

}

.portfolio-description h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    margin: 1rem 0;
}

.portfolio-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #8B0000;
    transition: color 850ms;
    font-family: 'Montserrat', sans-serif;
}

.portfolio-description .cta:hover{
    color: black;
    
}

/*Portfolio*/

/*Portfolio Items*/
.wholemilk header {
    background-image: url(/styles/img/whole-milk-bg.png);
    background-size: cover;
}

.portfolio-landing {
    margin-top: -50rem;
    display: flex;
    background: white;
    
}


.wholemilk img {
    width: 200px;
    height: auto;
    padding: 5rem;
    margin-right: 10rem;
    flex: 1;
   

}

.wholemilk p {
    color: black;
    text-align: right;
    margin-top:10rem;
    margin-left: 5rem;
    margin-right: rem;
    flex: 2;

    
}

.wholemilk iframe {
    width: 100%;
    flex: 1;
    
}

.wholemilk-header {
    width: 100%;
    height: 4vh;
}

.wm-img-1, .wm-img-2, .wm-img-3{
    position: relative;
    opacity: .9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wm-img-1{
    background-image: url(/styles/img/whole-milk-bg.png);
    min-height: 100%;
    

}

.wm-img-2{
    background-image: url(/styles/img/wm-business-cards.jpg);
    min-height: 400px;
    

}

.wm-img-3{
    background-image: url(/styles/img/wm-iphone-mockup.jpg);
    background-size: cover;
    min-height: 400px;
    

}

.wm-overlay:before {
	content:" ";
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
    background-color:rgba(0,0,0, 0.5);
    z-index: 0;
    
}
.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color: rgb(240, 240, 240);
    color: #666;
}

.section h2 {
    font-size: 4rem;
}

.section-dark{
    background-color: #181818;
    color: #ddd;
}

.wm-text{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: absolute;
    top: 30%;
    width: 100%;
    color: white;
    font-size: 8rem;
    text-align: center;    
}

.wm-text h6 {
    font-weight: 300;
    font-size: 36px;
    margin-top: -6rem;
}

.gallon-fill {
    position: relative;
    width: 150px;
    height: auto;
    margin-top: 6rem;
    left: 45%;
   
}
.wm-branding {
    display: grid;
    width: 100%;
    padding: 8rem;
    margin-left: 5rem;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
}

#wm-app {
    width: 60%;
    margin-top: 5rem;
}
]

.item-1{
    grid-column: 1;
    padding: 2rem;
}

.item-2{
    grid-column: 2;
    padding: 1rem;
}

.item-3{
    grid-column: 1;
    padding: 1rem;
}

.item-4{
    grid-column: 2;
    padding: 1rem;
}



.landing-text-wm {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%;);
    width: 100%;
    text-align:left;
    margin-left: 10px;
    margin-bottom: 25rem;
    z-index: 1;
}

.landing-text-wm h1{
    font-size: 10rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    user-select: none;
    padding: 5px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.landing-text-wm h6{
    font-size: 5rem;
    font-weight: 300;
    margin-left: 15px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    
}

.wm-social-media {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 2rem 24%;

    
}

.ramen-bg {
    background-image: url(/styles/img/ramen-shop/ramen-logo_3_2.gif);
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -150px;

}

.ramen-img-1, .ramen-img-2, .ramen-img-3{
    position: relative;
    opacity: .9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ramen-img-1{
    background-image: url(/styles/img/ramen-shop/3.png);
    min-height: 400px;
    

}

.ramen-img-2{
    background-image: url(/styles/img/ramen-shop/ramen-bowl-2.jpg);
    min-height: 400px;
    

}

.ramen-img-3{
    background-image: url(/styles/img/ramen-shop/10.png);
    background-size: cover;
    min-height: 400px;
}

.hecho-en-logo {
    size: 80rem;
}





/*Portfolio Items*/


/*Timeline*/
.timeline ul{
    border-left: 4px solid #8B0000;
    border-radius: .8rem;
    background-color: rgba(0,0,0, 0.05);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}

.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .6;
    font-family: 'Montserrat', sans-serif;
}

.timeline .date{
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    

}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top 50%;
    transform: translateY(-50%);
    font-family: 'Montserrat', sans-serif;
}

.timeline .date::before{
    content: attr(date-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #8B0000;
    border-radius: 100%;
    left: -8rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #DC143C;

}
/*Timeline*/


/*Contact*/
.contact{
    background-color: white;

}
 form{
     width: 70%;
     margin: 0 auto;
     


 }

 form label{
     font-size: 1.5rem;

 }

 input,
 select,
 textarea{
     width: 100%;
     padding: 1rem;
     margin-top: 5px;
     border: 1px solid #333;
     border-radius: .8rem;
     outline-color: #DC143C;

 }

 input[type="submit"]{
     width: initial;
     background-color: #DC143C;
     color: #eee;
     padding: 1rem 2rem;
     border-radius: .8rem;
     cursor: pointer;
     transition: background-color 650ms;
     
 }

 input[type="submit"]:hover{
    border-radius: .8rem;
     color: white;
     background-color: #8B0000
     
     

 }


/*Contact*/


/*Footer*/
.copyright{
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 2rem 0;
    position: absolute;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
    animation: pulse 2s infinite;
}

.up i{
    color: #8B0000;
    font-size: 2rem;
    margin: auto ;
    border-radius: 100%;
  
}

.copyright p{
    font-size: 1.3rem;
}


/*Footer*/


/*Animation*/
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(139, 0, 0, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(139, 0, 0, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(139, 0, 0, 0);
    }
}

/*Animation*/


/*media queries*/

@media screen and (max-width: 768px) {

    body{
        overflow-x: hidden;
    }
    .landing-text h1{
        font-size: 15rem;
    }

    .landing-text h6{
        font-size: 5rem;
    }

    .nav-list{
        flex-direction: column;
    }

    li{
        margin: 2rem 0;
    }

    .nav-link{
        font-size: 10px;
        position: absolute;
        right: 0px;
        height: 96vh;
        top: 4vh;
        background-color: rgb(226, 226, 226);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index:100;
        width: 25%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

   

    .burger{
        display: block;
        cursor: pointer;
        right: 0px;
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .about-heading h1{
        font-size: 8rem;
    }

    .section-heading h6{
        font-size: 3rem;
    }

    .social-media .nav-list{
        flex-direction: row;
    }
    
    .social-media li{
        margin: 2rem 0;
    }

    .icon-container{
        width: 7rem;
        height: 7rem;

    }

    .icon-container i{

        font-size: 3.5rem;
    }

    .timeline ul{
        margin: 0 0 0 auto;
    }

    .timeline .date::before{
        left: -20rem;
    }

    .timeline .date::after{
        left: -6rem;
    }

    
}

@media screen and (max-width: 600px) {
    .menu-toggler{
        top:2rem;
        right: 2rem;
    }

    .landing-text h1{
        font-size: 8rem;
      
        
    }

    .landing-text h6{
        font-size: 1.4rem;
    }

    .nav-link{
        font-size: 10px;
    }

    .about .container{
        flex-direction: column;
    }

    .profile-img{
        margin: 0 0 7rem 7rem;
    }

    .potfolio-item{
        flex-direction: column;
    }

    .portfolio-img{
        margin: 0 0 2rem 0;
        order: 1;
    }

    .portfolio-description{
        margin: 0;
        order: 2;
    }

    .timline p{
        font-size: 1.6rem;

    }

    .timeline .date::before{
        font-size: 1.4rem;
    }

    form{
        width: 100%;
    }

    .uip{
        right: 2rem;
    }